.invisible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.principal {
    max-width: 25rem;
    margin: auto;
}

h1 {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
}

.celda {
    background-color: #050505;
    border: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}