/* Estilos de fondo para la página */
body {
    background-color: black;
    font-family: Arial, sans-serif;
}

/* Estilos para el contenedor principal */
.container {
    background-image: url('Fondo.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

/* Estilos para la tabla */
.table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
}

.table th,
.table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.table th {
    background-color: #333;
    color: #fff;
}

/* Reglas anidadas para un menú */
.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    text-decoration: none;
    color: #0077b5;
}

.navbar a:hover {
    color: #ff5733;
}

/* Uso de variables CSS (variables personalizadas) */
:root {
    --primary-color: #0077b5;
    --secondary-color: #ff5733;
}

.button-link {
    background-color: var(--primary-color);
    color: #fff;
    padding: 5px 10px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 4px;
}

.button-link:hover {
    background-color: var(--secondary-color);
}

/* Efectos de transición */
.button-link {
    transition: background-color 0.3s, color 0.3s;
}

/* Estilos para formularios */
.form input[type="text"],
.form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

.form label {
    font-weight: bold;
}

.form .button-link {
    margin-top: 10px;
}

/* Estilos para enlaces que parecen botones */
a.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0077b5;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

a.button-link:hover {
    background-color: #ff5733;
}


/* Estilos para el formulario de volver */
form {
    text-align: center;
}

form input[type="submit"] {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: var(--secondary-color);
}
/* Estilos para los inputs en el formulario de crear carpeta */
form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
