.green-text {
    color: green;
  }
  
  .blue-text {
    color: blue;
  }
  
  .red-text {
    color: red;
  }
  
  .pink-text {
    color: pink;
  }
  .black-text {
    color: black;
  }