.container {
    text-align: center;
    margin-top: 20px;
  }
  
  .circle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

.circle.even-level {
  flex-direction: column;
}


.circle.even-level .circle-button {
  margin: 10px;
}
  .circle-button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #3498db;
    color: #ffffff;
    font-size: 24px;
    border: none;
    margin: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circle-button:hover {
    background-color: #2980b9;
  }
  
  .message {
    font-size: 18px;
  }
  
  .order {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #2ecc71;
    color: #ffffff;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  