.invisible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.principal {
    max-width: 25rem;
    margin: auto;
}

h1 {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    text-align: center; /* Centrar el contenido de las celdas */
}

.celda {
    background-color: #333;
    border: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    cursor: pointer; /* Agregar cursor para indicar que es interactivo */
}

/* Estilos para cuando el juego ha terminado */
.grid.finished {
    pointer-events: none; /* Desactivar clics en celdas */
}

.celda.finished {
    background-color: green; /* Cambiar el color de fondo de las celdas */
    color: black; /* Cambiar el color del texto en las celdas */
}
