
.square {
    width: 50px; /* Ajusta el valor según tus necesidades */
    height: 50px; /* Ajusta el valor según tus necesidades */
    font-size: 16px; /* Ajusta el valor según tus necesidades */
    /* Otros estilos que desees agregar */
  }
  